<div class="container">
    <h1>lacrado message</h1>
    <% if @message.views_remaining > 0 %>
        <p>Note that  message can be viewed <strong class="highlight"><%= pluralize(@message.views_remaining, 'more time') %></strong> and until <strong class="highlight"><%= @message.expiration_time.strftime("%A, %B %e, %Y at %l:%M %p") %></strong></strong>.</p>
    <% else %>
        <p><strong class="alert-error">This message has been self-destroyed</strong>. The link won't work anymore. Please, save in a secure way any important information from this message.</p>
    <% end %>
    <p class="power-link-container">
    <%= @decrypted_content %></p>
    <!-- if number of views is greater than 0, show the number of views othewise show the message has been destroyed -->
</div>