<div class="container" data-controller="message">
<%= form_with url: url_for(controller: :messages, action: :decrypt, id: @id, password1: @password1), method: :post, data: { message_target: "form" } do |f| %>
    <p>This message is protected with a password.</p>
    <% if flash[:error].present? %>
        <div class="alert alert-error">
            <%= flash[:error] %>
        </div>
    <% end %>
    <label>Password*:</label>
    <br>
    <%= f.password_field :password2,
        minlength: 10,
        placeholder: "**********",
        maxlength: 64,
        required: true,
        data: { message_target: "password2Input" } %>
    <%= f.submit "Decrypt message", class:"btn btn-primary", data: { action: "message#decrypt" } %>
 <% end %>
</div>