<%= form_with url: decrypt_path(id: @id, password1: @password1), method: :post do |f| %>
    <div>
    The message is protected with a password. 
    <label>Password*:</label>
    <br>
    <%= f.password_field :password2, 
        minlength: 10, 
        placeholder: "********",
        maxlength: 64%> 
        between 10 and 64 characters
    </div>
    <%= f.submit "Decrypt message" %>
 <% end %>
