<div class="container">
<%= form_with url: url_for(controller: :messages, action: :decrypt, id: @id, password1: @password1), method: :post do |f| %>
    <p>This message is protected with a password.</p>
    <% if flash[:error].present? %>
        <div class="alert alert-error">
            <%= flash[:error] %>
        </div>
    <% end %>
    <label>Password*:</label>
    <br>
    <%= f.password_field :password2, 
        minlength: 10, 
        placeholder: "**********",
        maxlength: 64,
        required: true %> 
        between 10 and 64 characters
    <%= f.submit "Decrypt message", class:"btn btn-primary" %>
 <% end %>
</div>