<div class="container">
<div id="mastodon" class="center page-height">
    <h1>lacrado</h1>
    <h2>Share self-destructing messages through a link. <br />
        Messages self destroy after being read or after a period of time.</h2>

    <a href="/messages/new" class="btn btn-primary btn-lg">Create a self-destroying message</a>

    </div>
</div>
<div class="grayed-bg">
    <div class=container-large>
        <div class="columns">
    <div class="left-column">
        <h2>How does it work?</h2>
        <p>1. Create a self-destroying message, you'll get a link.</p>
        <p>2. Share the link with someone.</p>
        <p>3. The message will be destroyed after being read or after a period of time.</p>

    <h2>Lacrado is secure</h2>
        <p>Messages stored in the database encrypted using a strong algorightm AES-256-GCM.</p>
        <p>The encryption key is not stored in the database.</p>
        <p>You can add an optional additional pre-shared password to enhance privacy.</p>
        <p>Messages are decrypted only when the link is accessed.</p>

            <a href="/messages/new" class="btn btn-primary">Create a self-destroying message</a>
        
        
        </div>
        <div class="right-column">
            <img src="/lacrado.gif" style="border:1px solid #666;border-radius: 10px">
        </div>
    </div>
    </div><!-- container -->
</div>




   